<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a (click)="backOnePage()" class="cl-text-black cl-icon-padding">
                <span class="fas fa-chevron-left fontawsome_icon">
                </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget()" class="cl-icon-padding cl-text-black">
        <span class="fas fa-plus fontawsome_icon"></span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container">
  <form #f="ngForm">
    <div class="form-group">
      <label for="headername" class="font-weight-bold">Name</label>
      <input id="headername"
             name="newName"
             type="text"
             class="form-control"
             placeholder="Header Name">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="headertext" class="font-weight-bold">Text</label>
      <input id="headertext"
             type="text"
             class="form-control"
             placeholder="Header Text"
             name="newText"
             [ngModel]="getWidgetText()"
             ngModel
             #newText="ngModel">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="headersize" class="font-weight-bold">Size</label>
      <input id="headersize"
             type="text"
             class="form-control"
             placeholder="Header Size"
             name="newSize"
             [ngModel]="getWidgetSize()"
             ngModel
             #newSize="ngModel">
    </div> <!-- form-group// -->

    <div class="form-group">
      <a class="btn btn-danger btn-block" (click)="deleteWidget()" role="button">Delete</a>
    </div>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="user/{{uid}}" class="cl-icon-padding">
        <span class="fas fa-user fontawsome_icon float-right steelblue-icon"></span>
      </a>
    </div>
  </div>
</nav>
