<!DOCTYPE html>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a href="website-list.html" class="cl-text-black cl-icon-padding">
                <span class="glyphicon glyphicon-cheveron=left">
                </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/new" class="cl-icon-padding cl-text-black">
                <span class="fa fas-plus fa-inverse">
                </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Pages
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-boderless">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}">
          <span class="fas fa-cog fontawsome_icon pull-right"></span>
      </a>
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}/widget">Blog Post</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}">
                <span class="fas fa-cog fontawsome_icon pull-right">
                </span>
      </a>
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}/widget">Blogs</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}">
                <span class="fas fa-cog fontawsome_icon pull-right">
                </span>
      </a>
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}/widget">Home</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}">
                <span class="fas fa-cog fontawsome_icon pull-right">
                </span>
      </a>
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}/widget">About</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}">
                <span class="fas fa-cog fontawsome_icon pull-right">
                </span>
      </a>
      <a routerLink="user/{{user._id}}/website/{{website.name}}/page/{{page.name}}/widget">Contact Us</a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/user/{{user._id}}" class="cl-icon-padding">
        <span class="fa fas-user fa-inverse"></span>
      </a>
    </div>
  </div>
</nav>
