<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a (click)="backOnePage()" class="cl-text-black cl-icon-padding">
                <span class="fas fa-chevron-left dark">
                </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget()" class="cl-icon-padding cl-text-black">
                <span class="fas fa-check dark">
                </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container">
  <form #f="ngForm">
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [ngModel]="widgetName"
             type="text"
             name="newName"
             class="form-control"
             id="youtube-name"
             required
             placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [ngModel]="getWidgetText()"
             type="text"
             name="newText"
             class="form-control"
             id="youtube-text"
             ngModel
             #newText="ngModel"
             placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [ngModel]="getWidgetUrl()"
             type="text"
             name="newUrl"
             class="form-control"
             id="youtube-URL"
             ngModel
             #newUrl="ngModel"
             placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [ngModel]="getWidgetWidth()"
             type="text"
             name="newWidth"
             class="form-control"
             id="youtube-width"
             ngModel
             #newWidth="ngModel"
             placeholder="100%">
    </div>
  </form>
  <a class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="user/{{uid}}" class="cl-icon-padding">
        <span class="fa fas-user fa-inverse"></span>
      </a>
    </div>
  </div>
</nav>

