<!--<h1>Profile</h1>-->

<!--<h2> user: {{user.username}}</h2>-->

<!--{{user._id}}-->

<nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h5" href="#">
            Profile
        </a>
        <i class="navbar-brand fas fa-check fontawesome_icon cl-icon-padding">
        </i>
    </div>
</nav>


<!--<a routerLink="profile/{{uid}}/website">Websites</a>-->
<!--<br/>-->


<div class="container-fluid">
    <form #f="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input
                   type="text"
                   name="username"
                   class="form-control"
                   id="username"
                   ngModel
                   [ngModel]="user.username"
                   #username="ngModel">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input
                   name="email"
                   type="email"
                   class="form-control"
                   id="email"
                   ngModel
                   [ngModel]="user.email">
        </div>
        <div class="form-group">
            <label for="first name">First name</label>
            <input
                   name="firstName"
                   type="text"
                   class="form-control"
                   id="first name"
                   ngModel
                   [ngModel]="user.firstName"
                   #firstName="ngModel">
        </div>
        <div class="form-group">
            <label for="last name">Last name</label>
            <input
                   name="lastName"
                   type="text"
                   class="form-control"
                   id="last name"
                   ngModel
                   [ngModel]="user.lastName"
                   #lastName="ngModel">
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       routerLink="/user/{{uid}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       (click)="logout()">Logout</a>
</div>

<nav class="navbar navbar-dark bg-primary fixed-bottom">
    <a class="navbar-brand font-weight-bold" href="#">
        <!--<span class="navbar-brand fas fa-user fontawesome_icon"></span>-->
    </a>
    <div class="text-right">
        <a routerLink="user/{{user._id}}" class="float-right">
            <span>
                <i class="fas fa-user fa-inverse"></i>
            </span>
        </a>
    </div>
</nav>
