<!DOCTYPE html>


<div class="container">
<div *ngIf="errorFlag";
     class="alert alert-danger">
  {{errorMsg}}
</div>


<form (ngSubmit) = "login()" #f="ngForm">
  <label>Username</label>
  <input type="text" class="form-control" placeholder="username" name="username"
         ngModel required #username="ngModel"/>

  <label>Password</label>
  <input type="password" class="form-control" placeholder="password" name="password"
         ngModel required #password="ngModel"/>

  <span class="help-block" *ngIf="!username.valid && username.touched">
    Please Enter Username!
  </span>
  <button
    class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Login</button>

  {{f.valid}}

</form>
</div>