<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a (click)="backOnePage()"
               class="cl-text-black cl-icon-padding">
                <span class="fas fa-chevron-left fontawsome_icon">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a (click)="updateWidget()"
               class="cl-icon-padding cl-text-black">
                <span class="fas fa-plus fontawsome_icon">
                </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" routerLink="./">
            Widget Edit
        </a>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input [ngModel]="widgetName"
                   type="text"
                   name="newName"
                   class="form-control"
                   id="image-name"
                   required
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input [ngModel]="widgetText"
                   type="text"
                   name="newText"
                   class="form-control"
                   id="image-text"
                   placeholder="Text">
        </div>
        <div class="form-group">
            <label for="image-URL">URL</label>
            <input [ngModel]="widgetUrl"
                   type="text"
                   name="newUrl"
                   class="form-control"
                   id="image-URL"
                   placeholder="URL">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input [ngModel]="widgetWidth"
                   type="text"
                   name="newWidth"
                   class="form-control"
                   id="image-width"
                   placeholder="100%">
        </div>



        <div class="form-group">
            <label for="WidgetImageUpload">Upload</label>
            <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
                <input name="myFile" id="WidgetImageUpload" type="file" class="form-control"/>
                <input name="widgetId" value="{{widgetId}}" style="display: none"/>
                <input name="websiteId" value="{{wid}}" style="display: none"/>
                <input name="pageId" value="{{pid}}" style="display: none"/>
                <input name="userId" value="{{uid}}" style="display: none"/>
                <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                <br/>
            </form>
            <button class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</button>
        </div>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">
            <a routerLink="user/{{uid}}" class="cl-icon-padding">
                <span class="fa fas-user fa-inverse"></span>
            </a>
        </div>
    </div>
</nav>
