
<nav class="navbar cl-blue-navbar fixed-top">
    <div class="container-fluid">
        <a routerLink="../" class="navbar-link">
            <span class="cl-text-white fas fa-chevron-left"></span>
        </a>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            New Page
        </a>
        <a (click)="newPage()" class="navbar-link cl-text-white">
            <span class="cl-text-white fas fa-check fontawesome_icon cl-icon-padding"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <form #f="ngForm">
        <div class="form-group">
            <label for="pagename" class="font-weight-bold">Name</label>
            <input id="pagename"
                   name="pageName"
                   type="text"
                   class="form-control"
                   placeholder="Page Name"
                   ngModel
                   required
                   #pageName="ngModel">
        </div> <!-- form-group// -->

        <div class="form-group">
            <label for="pagetitle" class="font-weight-bold">Title</label>
            <input id="pagetitle"
                   name="pageTitle"
                   type="text"
                   class="form-control"
                   placeholder="Page Title"
                   ngModel
                   #pageTitle="ngModel">
        </div> <!-- form-group// -->

<nav class="navbar fixed-bottom cl-blue-navbar">
    <div class="container-fluid">
        <a class="align-right fas fa-user fa-inverse fontawesome_icon cl-icon-padding" [routerLink]="['/user/' + uid]">
        </a>
    </div>
</nav>






