
<nav class="navbar cl-blue-navbar fixed-top">
  <div class="container-fluid">
    <a routerLink="../../" class="navbar-link ">
      <span class="cl-text-white fas fa-chevron-left"></span>
    </a>
    <a class="cl-text-white navbar-brand mb-0 h5 mr-auto cl-header-padding"
       routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget">
      Widgets
    </a>

    <a [routerLink]="['./new']"
       class="navbar-link cl-text-white">
      <span class="cl-text-white fas fa-plus fontawesome_icon cl-icon-padding"></span>
    </a>
  </div>
</nav>

<!--<body>-->
<!--<nav class="navbar cl-blue-navbar fixed-top">-->
  <!--<div class="container-fluid">-->
    <!--<a routerLink="../../" class="navbar-link ">-->
      <!--<span class="cl-text-white fas fa-chevron-left"></span>-->
    <!--</a>-->
    <!--<a class="cl-text-white navbar-brand navbar-text mb-0 h5 mr-auto cl-header-padding"-->
        <!--routerLink="user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget">-->
      <!--Widgets-->
    <!--</a>-->

    <!--<a [routerLink]="['./new']"-->
       <!--class="navbar-link cl-text-white">-->
      <!--<span class="cl-text-white fas fa-plus fontawesome_icon cl-icon-padding"></span>-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->


<div class="container cl-container-padding">
    <div *ngFor="let widget of widgets">
        <div [ngSwitch]="widget.widgetType">
            <div class="float-right">
                <a routerLink="" class="float-right">
                    <i class="fas fa-bars fontawsome_icon"></i>
                </a>
                <a routerLink="{{widget._id}}">
                    <i class="fas fa-cog fontawsome_icon"></i>
                </a>
            </div>
            <div *ngSwitchCase="'HEADING'">
                <div [ngSwitch]="widget.size">
                    <div *ngSwitchCase="1">
                        <h1>{{widget.text}}</h1>
                    </div>
                    <div *ngSwitchCase="2">
                        <h2>{{widget.text}}</h2>
                    </div>
                    <div *ngSwitchCase="3">
                        <h3>{{widget.text}}</h3>
                    </div>
                    <div *ngSwitchCase="4">
                        <h4>{{widget.text}}</h4>
                    </div>
                    <div *ngSwitchCase="5">
                        <h5>{{widget.text}}</h5>
                    </div>
                    <div *ngSwitchCase="6">
                        <h6>{{widget.text}}</h6>
                    </div>
                </div>
            </div>
            <img *ngSwitchCase="'IMAGE'" src="{{widget.url}}">
            <div *ngSwitchCase="'YOUTUBE'" >

            </div>
            <p *ngSwitchDefault><br></p>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-light bg-light fixed-bottom">
    <div class="float-left navbar-text">
        <a routerLink="" class="cl-icon-padding">
            <span class="fas fa-play"></span>
        </a>
        <a routerLink="" class="cl-icon-padding pl-2">
            <span class="fas fa-eye"></span>
        </a>

    </div>
    <div class="float-right">
        <a routerLink="/user/{{userId}}">
            <i class="fas fa-user fontawsome_icon float-right"></i>
        </a>
    </div>
</nav>
